REM @(#)
REM @(#)######################################################################
REM @(#) $Revision: 1 $
REM @(#) $Date: 2014-01-29 03:42:35 +0300 (Wed, 29 Dec 2014) $
REM @(#) $Author: atataru $
REM @(#)######################################################################

name: main
loglevel: DEBUG
recursiveUpdate: True

name: example
host: ftp.crisoft.ro
username: lemet
password: lemetftp1
localdir: C:\Users\EVR6486\Downloads\EclipsePortable\Data\workspace\rabbitCrawler\src\main\test
remotedir: /HealthCheck/updater
